page-activity-detail {

    .list{
        border-left: 1px solid #c8c7cc !important;
        border-right: 1px solid #c8c7cc !important;
    }
    .item, .item-ios{
        padding: 0;
    }

    .label{
        padding-left: 5px;
    }
}
